@charset "UTF-8";
/* variables colores: se inicializan con el valor que seria el hexa del color (NO LAS USO AHORA POR LOS MAPS)
$amarillo: #ffd11a;
$naranja: #ff9900;
$azulnegro: #000d1a;
$azulclaro: #247878;
$azulmedio: #1d6262;
$gris: #c5c8d0;*/
/*variables para condicionales*/
/*variables tamaños logos*/
/*variables sobre fuentes*/
/*Código especifico para corregir margenes de Bootstrap*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f2bd; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/*Mapas: font-size y colores*/
/*Generales - independientes de las vistas*/
h3 {
  color: #ff9900;
  font-weight: 600; }

p.textoComun {
  font-family: "Questrial Regular", sans-serif;
  color: #000d1a !important; }

body {
  margin: 0;
  padding: 0; }

/*Prueba de NavBar Fixed*/
.headerNav {
  z-index: 100;
  background-color: #ffd11a;
  height: 5rem;
  color: #000d1a;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 2 rem 0;
  position: sticky;
  left: 0;
  top: 0;
  right: 0; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.logoNav {
  width: 5%;
  height: 5%;
  margin-left: 10px;
  margin-top: 10px; }

.menuIcon {
  display: none; }

/*en media querie mobile se activa con Js*/
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.navigation ul li {
  display: inline-block;
  margin: 5px 10px; }

.navigation ul li a {
  color: #333;
  display: block;
  padding: 1rem 1rem;
  transition: all 0.4s; }

.navigation ul li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.9s; }

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: #000d1a; }

/*main{padding-top: 6rem;}*/
.banner {
  width: 100%; }

/*aca me sigue quedando margen a los costados*/
.carousel-control-next-icon {
  filter: invert(100%); }

.carousel-control-prev-icon {
  filter: invert(100%); }

.mainColor {
  background-color: #f2f2bd; }

footer {
  margin-top: 40px; }

.pieIndex {
  background-color: #f2f2bd;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .pieIndex__logo {
    width: 45%;
    transition: all 0.5s; }
  .pieIndex__logo:hover {
    transform: rotate(60deg); }

/*Portfolio*/
.contenedorAlbum {
  background-color: #f2f2bd; }

/*Diseño*/
.tarjetas {
  border: 2px solid; }
  .tarjetas__titulo {
    color: #ff9900;
    font-weight: 600; }
  .tarjetas__texto {
    font-weight: 400;
    font-family: "Questrial Regular", sans-serif; }

.fondoTarjetas {
  background-image: linear-gradient(to bottom, #c5c8d0, #247878); }

/*Sobre Mi*/
div.carouselSobreMi {
  border-bottom: solid 15px #ffd11a; }

.btn-carousel-sobremi {
  width: 10%;
  background-color: #ffd11a; }

.sectorInfo {
  border-top: solid 15px #ff9900;
  border-bottom: solid 25px #ff9900;
  margin-right: 20px;
  background-color: #ffd11a; }

/*Contacto*/
/*Vista Mobile--------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /*General*/
  * {
    margin: 0;
    padding: 0; }
  h1 {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif !important;
    font-size: 300%;
    letter-spacing: 2px;
    padding-left: 3%;
    padding-top: 4%; }
  h2 {
    color: #ff9900;
    font-family: "Questrial Regular", sans-serif;
    font-size: 50px; }
  .logoNav {
    width: 15%;
    height: 15%;
    margin-left: 10px;
    margin-top: 10px; }
  /*navBar fixed*/
  .navigation {
    width: 100%;
    margin-top: 1rem; }
  .menuIcon {
    display: flex;
    cursor: pointer;
    margin: 0 1rem;
    justify-content: flex-end; }
  .menuHam {
    vertical-align: middle;
    border-style: none;
    object-fit: contain; }
  .navigation ul {
    display: none; }
  .navigation ul.show {
    display: block;
    background-color: #ffd11a; }
  .navigation ul li {
    display: block; }
  .navigation ul li a {
    color: #333;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s; }
  /*footer {width: 340px;}*/
  .afooter {
    width: 70px; }
  .pie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 10px 30px; }
    .pie__logo {
      width: 50%;
      transition: all 0.5s;
      margin-left: 5px; }
    .pie__logo:hover {
      transform: rotate(60deg); }
  /*Index Mobile*/
  div.carousel {
    margin: 5px 15px;
    width: 90%; }
  .textoIndex {
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px; }
  .tituloIndex {
    padding-top: 15px;
    color: #ffd11a;
    font-family: "Barlow Condensed", fantasy !important;
    font-size: 50px;
    letter-spacing: 8px;
    text-decoration: underline;
    text-align: center; }
  .introIndex1 {
    margin-left: 5px;
    padding: 15px 0;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 20px;
    text-align: justify;
    border-bottom: solid blue 2px; }
  .introIndex2 {
    margin-left: 5px;
    padding-bottom: 2px;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 20px;
    text-align: justify; }
  .introIndex3 {
    color: blue;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    text-align: center; }
  .logoIndex {
    width: 50%;
    padding: 10px;
    margin-left: 65px; }
  div.botonInfo {
    justify-content: center;
    margin-left: 30px; }
  .btn-info {
    font-size: 20px;
    color: blue;
    background-color: yellow;
    padding: 5px 20px; }
  .pieIndex {
    margin-left: 35px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px; }
    .pieIndex__logo {
      width: 50%;
      transition: all 0.5s;
      margin-left: 9px; }
    .pieIndex__logo:hover {
      transform: rotate(60deg); }
  /*Portfolio Mobile*/
  img.logoPort {
    width: 20%;
    height: 20%;
    padding-top: 5px; }
  .submenu {
    background-image: linear-gradient(to top, #c5c8d0, #f2f2bd); }
    .submenu__titulo {
      color: #ff9900;
      font-family: "Barlow Condensed", fantasy;
      font-weight: 400;
      font-size: 40px; }
    .submenu__texto {
      font-family: "Questrial Regular", sans-serif;
      color: #1d6262 !important;
      font-weight: 600; }
  .imgcharco {
    width: 100%; }
  .contenedorAlbum {
    background-color: #f2f2bd; }
  /*Diseño Mobile*/
  .contenedorServicio {
    justify-content: center;
    width: 300px;
    margin-left: 40px;
    margin-top: 15px;
    border: solid 2px blue;
    background-image: linear-gradient(to top, white, #c5c8d0); }
  .disenio {
    width: 270px;
    justify-content: center;
    padding-left: 15px;
    padding-top: 7px; }
  .divServicio {
    margin-left: 60px;
    justify-content: center; }
  /*arreglar centrar*/
  .tituloDi {
    margin-top: 30px;
    color: #ffd11a;
    font-family: "Barlow Condensed", fantasy;
    font-size: 30px;
    font-weight: 800; }
  .introDi {
    padding: 20px 0;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 20px; }
  .btn-contactarme {
    margin-left: 40px;
    font-size: 20px;
    color: blue;
    background-color: yellow; }
  h3 {
    text-align: center; }
  p {
    text-align: center; }
  /*Sobre Mi Mobile*/
  .carouselSobreMi {
    width: 95%; }
  img.logoSobre {
    width: 60%;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px; }
  div.sectorInfo {
    margin: 0;
    width: 100%; }
  .featurette-heading {
    font-size: 35px;
    padding-top: 10px;
    text-align: center; }
  .info {
    background-color: #ebebe0;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-right: 3%; }
    .info__titulo {
      padding-bottom: 3px;
      border-bottom: 3px solid #c5c8d0; }
    .info__texto {
      font-size: 15px;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 400; }
  /*Contacto Mobile*/
  .hola {
    padding-top: 10px;
    padding-bottom: 10px; }
    .hola__encabezado {
      font-size: 30px;
      font-weight: 700;
      margin: 18px;
      text-align: center; }
    .hola__texto {
      margin: 10px 15px;
      text-align: justify;
      background-color: #ffd11a;
      font-size: 120%; }
  .compuHola {
    width: 70%;
    margin-left: 40px; }
  .campoForm {
    margin-left: 15px;
    text-align: center;
    font-family: "Questrial Regular", sans-serif;
    font-weight: 400;
    margin: auto;
    font-size: 130%;
    color: #ff9900;
    font-weight: 300; }
  h4 {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px; }
  div.formulario {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 45px;
    background-color: #c5c8d0;
    width: 90%;
    margin: 7px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 12px #000d1a; }
  form {
    width: 215px; }
  .colorBoton {
    background-image: linear-gradient(to right, #ff9900, #ffd11a); } }

/*Cierre Vista Mobile*/
/*Vista Desktop------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*General*/
  .textoIndex {
    flex-flow: row wrap;
    margin-top: 30px; }
  .tituloIndex {
    margin-left: 15px;
    padding-top: 15px;
    color: #ffd11a;
    font-family: "Barlow Condensed", fantasy;
    font-size: 50px;
    letter-spacing: 8px;
    text-decoration: underline;
    text-align: left; }
  .introIndex1 {
    line-height: 1em;
    margin-left: 15px;
    padding: 20px 0;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 25px;
    text-align: left;
    border-bottom: solid blue 2px; }
  .introIndex2 {
    line-height: 1em;
    margin-left: 20px;
    padding: 10px 0;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 25px;
    text-align: justify; }
  h2 {
    color: #ff9900;
    font-family: "Questrial Regular", sans-serif;
    font-size: 5vw; }
  .logoIndex {
    width: 40%;
    padding-top: 10px;
    padding-left: 30px; }
  div.botonInfo {
    justify-content: center;
    margin-left: 15px; }
  .btn-info {
    font-size: 20px;
    color: blue;
    background-color: yellow;
    padding: 5px 20px; }
  /*Footer*/
  .pie {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #ffd11a;
    display: flex; }
  .footer-social {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 10px; }
  .footer-links {
    display: flex;
    flex-direction: column;
    padding-left: 25px; }
  .logo-mar-footer {
    margin-left: 90px;
    padding-top: 18px;
    width: 27%; }
  .footer-about {
    margin: 10px 20px; }
  .logo-footer {
    width: 45%;
    transition: all 0.5s; }
  .logo-footer:hover {
    transform: rotate(60deg); }
  .menu-footer {
    color: #000d1a;
    font-size: 20px; }
  /*Index Desktop*/
  .divCarousel {
    display: flex; }
  div.carousel {
    flex-flow: row wrap; }
  .bienvenida {
    margin-top: 4%;
    color: #247878;
    font-weight: 1000;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: "Questrial Regular", sans-serif; }
  /*Portfolio Desktop*/
  .logoPort {
    width: 25%;
    padding: 2px;
    padding-bottom: 10px; }
  .submenu {
    background-color: #f2f2bd; }
    .submenu__titulo {
      color: #ff9900;
      font-family: "Barlow Condensed", fantasy;
      font-size: 3vw; }
    .submenu__texto {
      font-family: "Questrial Regular", sans-serif;
      font-weight: 600; }
  .charco, .charco--georgie, .charco--willy {
    font-family: "Questrial Regular", sans-serif;
    color: #1d6262; }
  .charco--georgie {
    background-color: #c5c8d0;
    border: 2px solid #247878;
    font-weight: 400; }
  .charco--willy {
    background-color: #c5c8d0;
    border: 2px solid #1d6262;
    font-weight: 400; }
  /*Diseño Desktop*/
  .divServicio {
    margin-left: 50px;
    justify-content: center; }
  .tituloDi {
    margin-top: 30px;
    color: #ffd11a;
    font-family: "Barlow Condensed", fantasy;
    font-size: 40px;
    font-weight: 800; }
  .introDi {
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .btn-contactarme {
    font-size: 20px;
    color: blue;
    background-color: yellow; }
  .bordeBajo {
    justify-content: center;
    border-bottom: solid #ff9900 2px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .contenedorGeneral {
    display: flex;
    flex-flow: row wrap;
    padding-left: 50px; }
  .contenedorServicio {
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  .contenedorServicio figure {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px darkslategrey; }
  .contenedorServicio figure img {
    width: 400px;
    height: 400px;
    transition: all 500ms ease-out; }
  .contenedorServicio figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedorServicio figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .contenedorServicio figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px; }
  .contenedorServicio figure:hover .capa h3 {
    opacity: 1;
    visibility: visible;
    margin-top: 50px;
    margin-bottom: 10px; }
  .contenedorServicio figure:hover .capa p {
    opacity: 1;
    visibility: visible;
    margin-top: 50px;
    margin-bottom: 10px; }
  .contenedorServicio figure .capa:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedorServicio figure:hover .capa {
    top: 0;
    opacity: 1;
    visibility: visible; }
  .contenedorServicio figure .capa h3 {
    visibility: hidden;
    color: #ffd11a;
    font-size: 40px;
    font-weight: 400;
    transition: all 500ms ease-out; }
  .contenedorServicio figure .capa p {
    visibility: hidden;
    color: #ff9900;
    font-size: 25px; }
  .contenedorServicio figure .capa p:hover {
    visibility: visible;
    color: #ffd11a;
    font-weight: 30px; }
  .figura:hover {
    background-color: rgba(45, 44, 46, 0.4); }
  .servicios {
    justify-content: center; }
  /*Sobre mí Desktop*/
  .titulo-carousel-1 {
    font-size: 30px;
    font-weight: 600;
    background-color: #ff9900;
    margin-left: 200px;
    margin-right: 180px; }
  .texto-carousel-1 {
    background-color: #ffd11a;
    margin-left: 30px;
    margin-right: 30px; }
  img.logoSobre {
    width: 90%;
    transform: translate(60px, 60px); }
  div.sectorInfo {
    margin-left: 5%;
    margin-top: 5px; }
  .info {
    background-color: #ebebe0;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-top: 2px; }
    .info__titulo {
      padding-bottom: 10px;
      border-bottom: 3px solid #c5c8d0; }
    .info__texto {
      color: #1d6262;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 400; }
  /*Contacto Desktop*/
  .tituloContacto {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif !important;
    font-size: 80px;
    letter-spacing: 1rem;
    padding-top: 2%; }
  .compuHola {
    width: 200%;
    margin-left: 60px; }
  .hola {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 480px;
    margin-left: 40px; }
    .hola__encabezado {
      letter-spacing: 2px;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 300;
      font-size: 35px;
      text-align: left; }
    .hola__texto {
      width: 430px;
      text-align: justify;
      font-size: 20px; }
  .logoContacto {
    width: 40%;
    padding: left 30px; }
  .containerContacto {
    margin-top: 40px; }
  .campoForm {
    font-size: 130%;
    color: #ff9900;
    font-weight: 500; }
  .formulario {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    margin-top: 40px;
    background-color: #c5c8d0;
    width: 450px;
    border-radius: 15px;
    box-shadow: 7px 13px 37px #1d6262; }
  .colorBoton {
    background-image: linear-gradient(to right, #000d1a, #1d6262); } }

/*-----------Cierre Vista Desktop-----------------------------------------------------------*/
