@charset "UTF-8";
/* variables colores: se inicializan con el valor que seria el hexa del color (NO LAS USO AHORA POR LOS MAPS)
$amarillo: #ffd11a;
$naranja: #ff9900;
$azulnegro: #000d1a;
$azulclaro: #247878;
$azulmedio: #1d6262;
$gris: #c5c8d0;*/
/*variables para condicionales*/
/*variables tamaños logos*/
/*variables sobre fuentes*/
/*Código especifico para corregir margenes de Bootstrap*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/*Mapas: font-size y colores*/
/*Generales - independientes de las vistas*/
h3 {
  color: #ff9900;
  font-weight: 600; }

header {
  margin-top: 1vw; }

p.textoComun {
  font-family: "Questrial Regular", sans-serif;
  color: #000d1a !important; }

body {
  margin: 0;
  padding: 0;
  background-color: #c5c8d0; }

/*Prueba de NavBar Fixed ----- Ver si puedo anidar con BEM--------------------------------------------------*/
.headerNav {
  background-color: #ffd11a;
  height: 5rem;
  color: #000d1a;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 2 rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.logoNav {
  width: 5%;
  height: 5%;
  margin-left: 10px;
  margin-top: 10px; }

.menuIcon {
  display: none; }

/*en media querie mobile se activa con Js*/
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.navigation ul li {
  display: inline-block;
  margin: 5px 10px; }

.navigation ul li a {
  color: #333;
  display: block;
  padding: 1rem 1rem;
  transition: all 0.4s; }

.navigation ul li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.9s; }

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: #000d1a; }

main {
  padding-top: 6rem; }

.banner {
  width: 100%; }

/*aca me sigue quedando margen a los costados*/
footer {
  margin-top: 40px; }

.pie {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .pie__logo {
    width: 45%;
    transition: all 0.5s; }
  .pie__logo:hover {
    transform: rotate(60deg); }

/*Vista Mobile--------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /*General*/
  * {
    margin: 0;
    padding: 0; }
  .tituloIndex {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif !important;
    font-size: 300%;
    letter-spacing: 2px;
    padding-left: 3%;
    padding-top: 4%; }
  h1 {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif !important;
    font-size: 300%;
    letter-spacing: 2px;
    padding-left: 3%;
    padding-top: 4%; }
  h2 {
    color: #ff9900;
    font-family: "Questrial Regular", sans-serif;
    font-size: 50px; }
  img.logoInicio {
    width: 20%;
    height: 20%;
    padding-top: 5px; }
  /*navBar fixed*/
  .navigation {
    width: 100%;
    margin-top: 1rem; }
  .menuIcon {
    display: block;
    cursor: pointer; }
  .navigation ul {
    display: none; }
  .navigation ul.show {
    display: block; }
  .navigation ul li {
    display: block; }
  .navigation ul li a {
    color: #333;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s; }
  footer {
    width: 340px; }
  .afooter {
    width: 70px; }
  .pie {
    margin-left: 5px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7px; }
    .pie__logo {
      width: 40%;
      transition: all 0.5s;
      margin-left: 9px; }
    .pie__logo:hover {
      transform: rotate(60deg); }
  /*Index Mobile*/
  div.carousel {
    margin: 5px 15px;
    width: 90%; }
  .bienvenida {
    margin-top: 4%;
    margin-left: 4%; }
    .bienvenida__titulo {
      color: #247878;
      font-weight: 1000;
      font-size: 200%;
      letter-spacing: 2px;
      font-family: "Questrial Regular", sans-serif;
      text-align: center; }
    .bienvenida__texto2 {
      color: #247878;
      font-size: 140%;
      font-family: "Questrial Regular", sans-serif;
      padding-top: 10px; }
    .bienvenida__texto3 {
      color: #247878;
      font-size: 140%;
      font-family: "Questrial Regular", sans-serif;
      text-align: center; }
    .bienvenida__imagen {
      width: 75%;
      margin-left: 25px; }
  /*Portfolio Mobile*/
  img.logoPort {
    width: 20%;
    height: 20%;
    padding-top: 5px; }
  .submenu {
    background-image: linear-gradient(to bottom, #c5c8d0, #247878); }
    .submenu__titulo {
      color: #ff9900;
      font-family: 'Cantarell Regular';
      font-weight: 400;
      font-size: 40px; }
    .submenu__texto {
      font-family: "Questrial Regular", sans-serif;
      color: #1d6262 !important;
      font-weight: 600; }
  div.divCharco {
    margin-left: 15px;
    width: 88%; }
  .imgcharco {
    margin-left: 25px;
    width: 85%; }
  /*Diseño Mobile*/
  /*.navDi{width: 290px; margin-right: 0; margin-left: 15px;}*/
  .sectorServicios {
    width: 300px;
    background-color: #c5c8d0; }
  /*.tituloDisenio{color: $amarillo; font-family: $titulos!important; justify-content: left; font-size: 55px; letter-spacing: 3px; margin: 5px;}*/
  .contenedorGeneral {
    display: flex;
    flex-direction: column; }
  .contenedorServicio {
    justify-content: center;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 2px #247878;
    background-image: linear-gradient(to top, #1d6262, #c5c8d0); }
  .capa p {
    text-align: center;
    font-size: 18px;
    font-weight: 400; }
  .capa h3 {
    text-align: center; }
  .disenio {
    width: 270px;
    justify-content: center;
    padding-left: 15px;
    padding-top: 7px; }
  /*Sobre Mi Mobile*/
  img.logoSobre {
    width: 90%;
    transform: translate(60px, 60px); }
  div.sectorInfo {
    margin-left: 5%; }
  .info {
    background-color: #ebebe0;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-right: 3%; }
    .info__titulo {
      padding-bottom: 3px;
      border-bottom: 3px solid #c5c8d0; }
    .info__texto {
      color: #1d6262;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 400; }
  /*Contacto Mobile*/
  .hola {
    padding-top: 10px;
    padding-bottom: 10px; }
    .hola__encabezado {
      letter-spacing: 5px; }
    .hola__texto {
      background-color: #c5c8d0;
      font-size: 120%; }
  .campoForm {
    text-align: center;
    margin: auto;
    font-size: 130%;
    color: #ff9900;
    font-weight: 300; }
  h4 {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px; }
  div.formulario {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    background-color: #c5c8d0;
    width: 90%;
    margin: 7px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 12px #000d1a; }
  form {
    width: 215px; }
  .colorBoton {
    background-image: linear-gradient(to right, #ff9900, #247878); } }

/*Cierre Vista Mobile*/
/*Vista Desktop------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*General*/
  .textoIndex {
    display: flex;
    justify-content: left;
    padding: 30px 0; }
  .tituloIndex {
    margin-left: 35px;
    color: #1d6262;
    font-family: "Barlow Condensed", fantasy;
    font-size: 50px;
    letter-spacing: 8px;
    text-decoration: underline;
    text-align: left; }
  .introIndex {
    margin-left: 30px;
    color: #1d6262;
    font-family: 'Questrial Regular', sans-serif;
    font-size: 38px;
    text-align: left;
    padding-top: 10px; }
  h2 {
    color: #ff9900;
    font-family: "Questrial Regular", sans-serif;
    font-size: 5vw; }
  .logoIndex {
    width: 60%;
    padding-top: 5px;
    margin-left: 20px; }
  /*Index Desktop*/
  .imagen-derecha {
    animation-name: imagen-derecha;
    animation-iteration-count: infinite;
    animation-duration: 4s; }
  .imagen-izquierda {
    animation-name: imagen-izquierda;
    animation-iteration-count: infinite;
    animation-duration: 4s; }
  .bienvenida {
    margin-top: 4%;
    color: #247878;
    font-weight: 1000;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: "Questrial Regular", sans-serif; }
  /* &__texto2 {color: $azulclaro; font-size: 210%; font-family: $subtitulos; padding-top: 10px;}
    &__texto3 {color: $azulclaro; font-size: 210%; font-family: $subtitulos; text-align: right;}
    &__imagen {width: 90%;}*/
  /*Portfolio Desktop*/
  .logoPort {
    width: 25%;
    padding: 2px;
    padding-bottom: 10px; }
  .submenu {
    background-image: linear-gradient(to bottom, #c5c8d0, #247878); }
    .submenu__titulo {
      color: #ff9900;
      font-family: "Questrial Regular", sans-serif;
      font-size: 4vw; }
    .submenu__texto {
      font-family: "Questrial Regular", sans-serif;
      color: #1d6262 !important;
      font-weight: 600; }
  .charco, .charco--georgie, .charco--willy {
    font-family: "Questrial Regular", sans-serif;
    color: #1d6262; }
  .charco--georgie {
    background-color: #c5c8d0;
    border: 2px solid #247878;
    font-weight: 400; }
  .charco--willy {
    background-color: #c5c8d0;
    border: 2px solid #1d6262;
    font-weight: 400; }
  /*Diseño Desktop*/
  .contenedorGeneral {
    display: flex;
    flex-flow: row wrap;
    margin-left: 50px; }
  .contenedorServicio {
    width: 400px;
    height: 4o0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  .contenedorServicio figure {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px darkslategrey; }
  .contenedorServicio figure img {
    width: 400px;
    height: 400px;
    transition: all 500ms ease-out; }
  .contenedorServicio figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedorServicio figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .contenedorServicio figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px; }
  .contenedorServicio figure:hover .capa h3 {
    opacity: 1;
    visibility: visible;
    margin-top: 50px;
    margin-bottom: 10px; }
  .contenedorServicio figure:hover .capa p {
    opacity: 1;
    visibility: visible;
    margin-top: 50px;
    margin-bottom: 10px; }
  .contenedorServicio figure .capa:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedorServicio figure:hover .capa {
    top: 0;
    opacity: 1;
    visibility: visible; }
  .contenedorServicio figure .capa h3 {
    visibility: hidden;
    color: #ffd11a;
    font-size: 40px;
    font-weight: 400;
    transition: all 500ms ease-out; }
  .contenedorServicio figure .capa p {
    visibility: hidden;
    color: #ff9900;
    font-size: 25px; }
  .contenedorServicio figure .capa p:hover {
    visibility: visible;
    color: #ffd11a;
    font-weight: 30px; }
  .figura:hover {
    background-color: rgba(45, 44, 46, 0.4); }
  .servicios {
    justify-content: center; }
  .sectorServicios {
    background-image: linear-gradient(to bottom, #c5c8d0, #247878); }
  /*Sobre mí*/
  img.logoSobre {
    width: 90%;
    transform: translate(60px, 60px); }
  div.sectorInfo {
    margin-left: 5%;
    margin-top: 5px; }
  .info {
    background-color: #ebebe0;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-top: 2px; }
    .info__titulo {
      padding-bottom: 10px;
      border-bottom: 3px solid #c5c8d0; }
    .info__texto {
      color: #1d6262;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 400; }
  /*Contacto Desktop*/
  .headerContacto {
    background-image: url(../assets/img/header.png);
    width: 100%; }
  .tituloContacto {
    color: #ffd11a;
    font-family: "Questrial Regular", sans-serif !important;
    font-size: 80px;
    letter-spacing: 1rem;
    padding-top: 2%; }
  .compuHola {
    width: 170%;
    margin-left: 40px; }
  .hola {
    padding-top: 30px;
    padding-bottom: 10px; }
    .hola__encabezado {
      letter-spacing: 2px;
      font-family: "Questrial Regular", sans-serif;
      font-weight: 300;
      font-size: 40px;
      text-align: left; }
    .hola__texto {
      text-align: justify;
      font-size: 120%; }
  .logoContacto {
    width: 40%;
    padding: left 30px; }
  .containerContacto {
    margin: 10px 40px; }
  .campoForm {
    font-size: 130%;
    color: #ff9900;
    font-weight: 500; }
  .formulario {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #c5c8d0;
    width: 450px;
    border-radius: 15px;
    box-shadow: 7px 13px 37px #1d6262; }
  .colorBoton {
    background-image: linear-gradient(to right, #ff9900, #247878); } }

/*-----------Cierre Vista Desktop-----------------------------------------------------------*/
/*Portfolio*/
.contenedorAlbum {
  background-image: linear-gradient(to bottom, #247878, #c5c8d0); }

/*Diseño*/
.servicios {
  background-image: linear-gradient(to bottom, #c5c8d0, #247878); }
  .servicios__titulo {
    transform: translateY(-10px); }
  .servicios__texto {
    font-family: "Questrial Regular", sans-serif;
    color: #1d6262; }

.tarjetas {
  border: 2px solid; }
  .tarjetas__titulo {
    color: #ff9900;
    font-weight: 600; }
  .tarjetas__texto {
    font-weight: 400;
    font-family: "Questrial Regular", sans-serif; }

.fondoTarjetas {
  background-image: linear-gradient(to bottom, #c5c8d0, #247878); }

/*Sobre Mi*/
/*Contacto*/
