/*variables para condicionales*/
$color: azul;

/*variables tamaños logos*/
$widthLogo: 15%;
$widthLogoGrande: 25%;

/*variables sobre fuentes*/
$titulos: 'Barlow Condensed', fantasy;  
$texto-comun: 'Questrial Regular', sans-serif; 
$subtitulos: 'Barlow Condensed', fantasy;  
