/*variables para condicionales*/
$color: azul;

/*variables tamaños logos*/
$widthLogo: 15%;
$widthLogoGrande: 25%;

/*variables sobre fuentes*/
@font-face {font-family: 'Impact'; src: url('assets/fonts/impact.ttf');}
@font-face {font-family: 'Questrial'; src: url('assets/fonts/Questrial-Regular.ttf');}
$titulos: 'Impact';  
$texto-comun: 'Questrial Regular', sans-serif; 
$subtitulos: 'Impact';  
