@import "variables";
/*Fuentes descargadas*/
@font-face {font-family: 'impact'; src: url('assets/fonts/impact.ttf');}
/*@font-face {font-family: 'Questrial'; src: url('assets/fonts/Questrial-Regular.ttf');}*/
/*$texto-comun: 'Questrial Regular', sans-serif; */

/*Código especifico para corregir margenes de Bootstrap*/
.container-fluid {padding-right: 15px; padding-left: 15px;  margin-right: auto; margin-left: auto; background-color: #f2f2bd;}
.row {margin-right: -15px; margin-left: -15px;}

/*Mapas: font-size y colores*/
$headings: (
    h1: 9vw,
    h2: 5vw,
    h3: 4vw, 
    h4: 2.5vw, 
);
$h1: map-get($map: $headings, $key: h1);
$h2: map-get($map: $headings, $key: h2);
$h3: map-get($map: $headings, $key: h3);
$h4: map-get($map: $headings, $key: h4);

$colores: (
    amarillo: #ffd11a,
    naranja: #ff9900,
    azulnegro: #000d1a,
    azulclaro: #247878,
    azulmedio: #1d6262,
    gris: #c5c8d0,
    clarito: #f2f2bd,
);
$amarillo: map-get($map: $colores, $key: amarillo);
$naranja: map-get($map: $colores, $key: naranja);
$azulnegro: map-get($map: $colores, $key: azulnegro);
$azulclaro: map-get($map: $colores, $key: azulclaro);
$azulmedio: map-get($map: $colores, $key: azulmedio);
$gris: map-get($map: $colores, $key: gris);
$clarito: map-get($map: $colores, $key: clarito);

/*Generales - independientes de las vistas*/
h3{color: $naranja; font-weight: 600;}
p.textoComun {/*font-family: $texto-comun;*/ color: $azulnegro!important;}
body{margin: 0; padding: 0;}

/*Prueba de NavBar Fixed*/
.headerNav{z-index:100; background-color: $amarillo; height: 5rem; color: $azulnegro; text-decoration: none; font-size: 1.3rem; padding: 2 rem 0; position: sticky; left: 0; top: 0; right: 0;}
.logo-nav-container{display: flex; justify-content: space-between; flex-wrap: wrap;}
.logoNav{width: 5%; height: 5%; margin-left: 10px; margin-top: 10px;}
.menuIcon{display: none;} /*en media querie mobile se activa con Js*/
.navigation ul {list-style: none; margin: 0; padding: 0;}
.navigation ul li {display: inline-block; margin: 5px 10px}
.navigation ul li a {color:#333; display: block; padding: 1rem 1rem; transition: all 0.4s}
.navigation ul li a::after {content: ""; display: block; margin: auto; height: 3px; width: 0; top: 5px; background: transparent; transition: all 0.9s;}
li > a:hover::after, li > a.active-nav::after {width: 100%; background: $azulnegro;}
.banner{width: 100%;}
.carousel-control-next-icon{filter: invert(100%);}
.carousel-control-prev-icon{filter: invert(100%);}
.mainColor{background-color: $clarito;}
/*Portfolio*/

/*Diseño*/
.tarjetas {
    border: 2px solid;
    &__titulo {color: $naranja; font-weight: 600;}
    &__texto {font-weight: 400; /*font-family: $texto-comun*/;}
}
.fondoTarjetas {background-image: linear-gradient(to bottom, $gris, $azulclaro);}

/*Sobre Mi*/
div.carouselSobreMi{border-bottom: solid 15px $amarillo;}
.btn-carousel-sobremi{width: 10%; background-color: $amarillo;}
.sectorInfo{border-top: solid 15px $naranja; border-bottom: solid 25px $naranja; margin-right: 20px; background-color: $amarillo;}
/*Contacto*/

/*Vista Mobile--------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){ 
    /*General*/
* {margin: 0; padding: 0;}
h1{color: $amarillo; font-family: 'impact'!important; font-size: 300%; letter-spacing: 2px; padding-left: 3%; padding-top: 4%;}
h2{color: $naranja; font-family: 'impact'!important; font-size: 50px;}
.logoNav{width: 60px; height: 50px; margin-left: 10px; margin-top: 10px;}

    /*navBar fixed*/   
.navigation {width: 100%; margin-top: 1rem;}
.menuIcon{display: flex; cursor: pointer; margin: 0 1rem; justify-content: flex-end;}
.menuHam{vertical-align: middle; border-style: none; object-fit: contain;}
.navigation ul {display: none;}
.navigation ul.show {display: block; background-color: $amarillo;}
.navigation ul li {display: block;}
.navigation ul li a {color:#333; display: block; padding: 0.5rem 1rem; transition: all 0.4s}

   /*Footer*/
   .pie{padding: 10px 0; margin-top: 5px; background-color: $amarillo; flex-flow: flex wrap;}
   .textoFooter{font-size: 20px; font-weight: 500;}
   .footer-social{width: 100%; display:flex; flex-direction: row; padding-top: 5px;}
   .footer-links{display: flex; flex-direction: column; padding-left: 7px;}
   .contenedorLogoAmarillo{display: flex; justify-content: center;}
   .logo-mar-footer{padding-top: 15px; width: 20%;}
   .footer-about{margin: 5px 10px;}
   .logo-footer{padding-top: 10px; padding-bottom: 10px; width: 45%; transition: all 0.5s;}
   .logo-footer:hover {transform: rotate(60deg);}
   .a-social-link{text-align: center;}
   .menu-footer{color:$azulnegro; font-size: 20px; font-weight: 600; line-height: 10px;}
   .borde-mobile{padding-bottom: 10px; border-bottom: 6px solid $naranja;}
   

    /*Index Mobile*/
.carousel-mobile-index{padding-top: 20px; display: flex;justify-content: center;}
div.carousel {width: 90%;}
.textoIndex{flex-flow: row wrap; justify-content: center; margin-top: 30px;}
.tituloIndex{padding-top: 15px; color: $amarillo; font-family: 'impact'; font-size: 50px; font-weight: 1000; letter-spacing: 8px; text-decoration: underline; text-align: center;}
.introIndex1{margin-left: 5px; padding: 15px 0; color: $azulmedio; /*font-family: 'Questrial Regular', sans-serif*/; font-size: 20px; text-align: justify; border-bottom: solid blue 2px}
.introIndex2{margin-left: 5px; padding-bottom: 2px; color: $azulmedio;/* font-family: 'Questrial Regular', sans-serif*/; font-size: 20px; text-align: justify;}
.introIndex3{color: blue; /*font-family: 'Questrial Regular', sans-serif*/; font-size: 18px; padding-top: 10px; text-align: center;}
.logoIndex{width: 50%; padding: 10px; margin-left: 90px;}
div.botonInfo{justify-content: center; margin-left: 30px;}
.btn-info{font-size: 20px; color: blue; background-color: yellow; padding: 5px 20px}
.pieIndex {
    margin-left: 35px; margin-right: 0; display: flex; flex-direction: row; justify-content: space-around; padding-top: 15px;
    &__logo{
    width: 50%; transition: all 0.5s; margin-left: 9px;
    }
    &__logo:hover {
    transform: rotate(60deg);
    }
}
    /*Portfolio Mobile*/
.contenedorAlbum{background-color: $clarito!important;}
img.logoPort{width: 20%; height: 20%; padding-top: 5px;}
.submenu {
    background-image: linear-gradient(to top, $gris, $clarito);
    &__titulo {color: $naranja; font-family: 'impact'; font-weight: 1000; font-size: 40px;}
    &__texto {/*font-family: $texto-comun*/ color:$azulmedio!important; font-weight: 600;}
}
.imgcharco {width: 100%;}
.contenedorAlbum{background-color: $clarito; margin-bottom: 0!important; padding: 0!important;}
.sector-footer-port{line-height: 25px;}

    /*Diseño Mobile*/
.contenedorServicio{justify-content: center; width: 300px; margin-left: 40px; margin-top: 15px; border: groove 9px $azulclaro ; background-image: linear-gradient(to bottom, $clarito, $gris);}
.disenio{width: 270px; justify-content: center; padding-left: 15px; padding-top: 7px;}
.divServicio{justify-content: center;} 
.tituloDi{margin-top: 20px; text-align: center; color: $amarillo; font-family: 'impact'; font-size: 30px; font-weight: 800;}
.introDi{text-align: justify; padding: 20px 5px; color: $azulmedio; /*font-family: $texto-comun*/; font-size: 20px;}
.btn-contactarme{margin-left: 100px; font-size: 20px; color: blue; background-color: yellow;}
h3{text-align: center;}
p{text-align: center;}

    /*Sobre Mi Mobile*/
.carousel-desktop{display: none;}
.carousel-mobile{transform: translateX(20px)!important;}
.titulo-carousel-mobile{font-size: 10px;}
.texto-carousel-mobile{font-size: 8px;}
img.logoSobre {width: 60%; margin-left: 70px; margin-top: 10px; margin-bottom: 10px;}
div.sectorInfo {margin: 0; width: 100%;}
.featurette-heading{font-size: 35px; padding-top: 10px; text-align: center;}
.info {
    background-color: #ebebe0; padding-left: 4%; padding-bottom: 2%; padding-right: 3%;
        &__titulo {
                    padding-bottom: 3px;
                    border-bottom: 3px solid $gris;
        }
        &__texto {
                    font-size: 15px;
                    /*font-family: $texto-comun;*/
                    font-weight: 400;
        }
    }
    /*Contacto Mobile*/
.hola {
    padding-top: 10px; padding-bottom: 10px;
    &__encabezado {
                    font-size: 30px; font-weight: 700; margin: 18px; text-align: center;
         }
    &__texto {
            margin: 10px 15px;
            text-align: justify;
            background-color: $amarillo;
            font-size: 120%;
        }
    }
.compuHola{width: 70%; margin-left: 40px;}
.campoForm{margin-left: 15px; text-align: center; /*font-family: $texto-comun*/; font-weight: 400; margin: auto; font-size: 130%; color: $naranja; font-weight: 300;}
h4{color: $amarillo; font-family: 'impact'; font-size: $h4; text-align: center; padding-left: 10px; padding-top: 5px;}
div.formulario{display: flex; justify-content: center; margin-bottom: 20px; padding-bottom: 15px; padding-left: 45px; background-color: $gris; width: 90%; margin: 7px; margin-left: 20px; border-radius: 5px; box-shadow: 2px 5px 12px $azulnegro;}
form{width: 215px;}
.colorBoton {background-image: linear-gradient(to right, $naranja, $amarillo)};
.containerContacto{padding-bottom: 25px;}
}/*Cierre Vista Mobile*/

 /*Vista Desktop------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px){
    /*General*/
h2{color: $naranja; font-family: 'impact';font-size: $h2; font-weight: 800;}
    /*Footer*/
.pie{padding: 40px 0 30px 0; background-color: $amarillo; display: flex;}
.footer-contact{text-align: right; margin-right: 25px;}
.footer-social{width: 90%; display:flex; flex-direction: row; padding-top: 10px;}
.footer-links{display: flex; flex-direction: column; padding-left: 25px;}
.logo-mar-footer{margin-left: 90px; padding-top: 18px; width: 27%;}
.footer-about{margin: 10px 20px;}
.logo-footer{width: 45%; transition: all 0.5s;}
.logo-footer:hover {transform: rotate(60deg);}
.menu-footer{color:$azulnegro; font-size: 20px;}

    /*Index Desktop*/
.textoIndex{flex-flow: row wrap; margin-top: 30px;}
.tituloIndex{margin-left: 15px; padding-top: 15px; color: $amarillo; font-family: 'impact'; font-size: 50px; letter-spacing: 8px; text-decoration: underline; text-align: left;}
.introIndex1{line-height: 1em; margin-left: 15px; padding: 20px 0; color: $azulmedio; /*font-family: 'Questrial Regular', sans-serif*/; font-size: 25px; text-align: left; border-bottom: solid blue 2px}
.introIndex2{line-height: 1em; margin-left: 20px; padding: 10px 0; color: $azulmedio; /*font-family: 'Questrial Regular', sans-serif*/; font-size: 25px; text-align: justify;}
.logoIndex{width: 40%; padding-top: 10px; padding-left: 30px;}
div.botonInfo{justify-content: center; margin-left: 15px;}
.btn-info{font-size: 20px; color: blue; background-color: yellow; padding: 5px 20px}
.divCarousel{display: flex;}
div.carouselIndex{flex-flow: row wrap; margin: 20px 0 20px 20px;}

    /*Portfolio Desktop*/
.contenedorAlbum{background-color: $clarito!important;}
.logoPort{width: $widthLogoGrande; padding: 2px; padding-bottom: 10px;}
.submenu {
    background-color: $clarito;
    &__titulo {color: $naranja; font-family: 'impact'; font-size: 3vw;}
    &__texto {/*font-family: $texto-comun*/ font-weight: 600;}
}
    .charco {
        /*font-family: $texto-comun;*/ color: $azulmedio;
    }
    .charco--georgie {
        @extend .charco;
        background-color: $gris;
        border: 2px solid $azulclaro;
        font-weight: 400;
    }
    .charco--willy {
        @extend .charco;
        background-color: $gris;
        border: 2px solid $azulmedio;
        font-weight: 400;
    }
    /*Diseño Desktop*/
.divServicio{margin-left: 50px;} 
.tituloDi{margin-top: 30px; color: $amarillo; font-family: 'impact'; font-size: 40px; font-weight: 800;}
.introDi{color: $azulmedio; /*font-family: $texto-comun;*/ font-size: 25px; padding-top: 20px; padding-bottom: 20px;}
.btn-contactarme{font-size: 20px; color: blue; background-color: yellow;}
.bordeBajo{justify-content: center; border-bottom: solid $naranja 2px; padding-bottom: 20px; margin-bottom: 20px;}
.contenedorGeneral {display: flex; flex-flow: row wrap; padding-left: 50px;}
.contenedorServicio{width: 400px; height: 400px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
.contenedorServicio figure{position: relative; width: 400px; height: 400px; overflow: hidden; border-radius: 6px; box-shadow: 0px 15px 25px darkslategrey;}
.contenedorServicio figure img{width: 400px; height: 400px; transition: all 500ms ease-out;}
.contenedorServicio figure .capa{position: absolute; top:0;width: 100%;height:100%;background: rgba(11,103,123,0.6);transition: all 500ms ease-out;opacity: 0;visibility: hidden;text-align: center;}
.contenedorServicio figure:hover > .capa {opacity: 1;visibility: visible;}
.contenedorServicio figure:hover > .capa h3 {margin-top: 70px; margin-bottom: 15px;}
.contenedorServicio figure:hover .capa h3{opacity: 1; visibility: visible; margin-top: 50px; margin-bottom: 10px;}
.contenedorServicio figure:hover .capa p{opacity: 1; visibility: visible; margin-top: 50px; margin-bottom: 10px;}
.contenedorServicio figure .capa:hover{position: absolute; height: 100%; width: 100%; background-color: rgba(120, 103, 123, 0.6); transition: all 500ms ease-out; opacity: 0; visibility: hidden; text-align: center;}
.contenedorServicio figure:hover .capa{top: 0; opacity: 1; visibility: visible;}
.contenedorServicio figure .capa h3{visibility: hidden; color: $amarillo; font-size: 40px; font-weight: 400; transition: all 500ms ease-out;}
.contenedorServicio figure .capa p{visibility: hidden; color:$naranja; font-size: 25px;}
.contenedorServicio figure .capa p:hover{visibility: visible; color: $amarillo; font-weight: 30px;} 
.figura:hover{background-color: rgba(45, 44, 46, 0.4);}     
.servicios{justify-content: center;}

    /*Sobre mí Desktop*/

.carousel-mobile{display: none;}
.titulo-carousel2{margin-top: 50px; padding-top: 30px; margin-bottom: 0;}
.escrito-carousel{margin-top: 90px;}
img.logoSobre {width: 90%; transform: translate(60px, 60px);}
div.sectorInfo {margin-left: 5%; margin-top: 5px;}
.info {
    background-color: #ebebe0; padding-left: 4%; padding-bottom: 2%; padding-right: 3%; padding-top: 2px;
        &__titulo {
                    padding-bottom: 10px;
                    border-bottom: 3px solid $gris;
        }
        &__texto {
                    color: $azulmedio;
                    /*font-family: $texto-comun;*/
                    font-weight: 400;
        }
    }
    /*Contacto Desktop*/
.compuHola{width: 200%; margin-left: 60px;}
.hola {
   padding-top: 30px; padding-bottom: 10px; width: 480px; margin-left: 40px;
    &__encabezado {
                    letter-spacing: 2px;
                    /*font-family: $texto-comun;*/
                    font-weight: 300;
                    font-size: 35px;
                    text-align: left;
    }
    &__texto {
                width: 430px;
                text-align: justify;
                font-size: 20px;
    }
}
.logoContacto{width: 40%; padding: left 30px;}
.containerContacto{margin-top: 40px;}
.campoForm{font-size: 130%; color: $naranja; font-weight: 500;}
.formulario{display: flex; justify-content: center; padding-top: 15px; padding-bottom: 25px; margin-bottom: 50px; margin-top: 40px; background-color: $gris; width: 450px; border-radius: 15px; box-shadow: 7px 13px 37px $azulmedio;}
.colorBoton {background-image: linear-gradient(to right, $azulnegro, $azulmedio)}
}/*-----------Cierre Vista Desktop-----------------------------------------------------------*/
