@import "variables";
/*Código especifico para corregir margenes de Bootstrap*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    
}
/*Mapas: font-size y colores*/
$headings: (
    h1: 9vw,
    h2: 5vw,
    h3: 4vw, 
    h4: 2.5vw, 
);
$h1: map-get($map: $headings, $key: h1);
$h2: map-get($map: $headings, $key: h2);
$h3: map-get($map: $headings, $key: h3);
$h4: map-get($map: $headings, $key: h4);

$colores: (
    amarillo: #ffd11a,
    naranja: #ff9900,
    azulnegro: #000d1a,
    azulclaro: #247878,
    azulmedio: #1d6262,
    gris: #c5c8d0,
);
$amarillo: map-get($map: $colores, $key: amarillo);
$naranja: map-get($map: $colores, $key: naranja);
$azulnegro: map-get($map: $colores, $key: azulnegro);
$azulclaro: map-get($map: $colores, $key: azulclaro);
$azulmedio: map-get($map: $colores, $key: azulmedio);
$gris: map-get($map: $colores, $key: gris);
/*Generales - independientes de las vistas*/
h3{color: $naranja; font-weight: 600;}
header{margin-top: 1vw;}
p.textoComun {font-family: $texto-comun; color: $azulnegro!important;}
body{margin: 0; padding: 0; background-color: $gris;}
header{display: flex; justify-content: center; margin:  10px;}
.pie {
    margin-top: 15px; margin-bottom: 10px;  display: flex; flex-direction: row; justify-content: space-around;
    &__logo{
        width: 45%;
        transition: all 0.5s;
    }
    &__logo:hover {
        transform: rotate(60deg);
    }
}
nav {
	padding: 0; margin: 2%;
    li {
         a {font-size: 200%; color: $naranja!important; font-family:'Barlow Condensed', fantasy; font-weight: 1000; padding: 2%; background-color: $gris;}
         a:hover{color:#ff7565; transition: 0.4s;} /*No funca*/
    }
} 
/*Vista Mobile--------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){ 
    /*General*/
* {margin: 0; padding: 0;}
.tituloPags{color: $amarillo; font-family: $titulos!important; font-size: 300%; letter-spacing: 2px; padding-left: 3%; padding-top: 4%;}
h1{color: $amarillo; font-family: $titulos!important; font-size: 300%; letter-spacing: 2px; padding-left: 3%; padding-top: 4%;}
h2{color: $naranja; font-family: $subtitulos;font-size: 50px;}
img.logoInicio{width: 20%; height: 20%; padding-top: 5px;}
nav{width: 290px; margin-right: 0; margin-left: 15px;}
footer {width: 340px;}
.afooter {width: 70px;}
.pie {
    margin-left: 5px; margin-right: 0; display: flex; flex-direction: row; justify-content: space-around; padding-top: 7px;
    &__logo{
    width: 40%;
    transition: all 0.5s;
    margin-left: 9px;
    }
    &__logo:hover {
    transform: rotate(60deg);
    }
}
    /*Index Mobile*/
div.carousel {margin: 5px 15px; width: 90%;}
.bienvenida {
    margin-top: 4%; margin-left: 4%;
    &__titulo {color: $azulclaro; font-weight: 1000; font-size: 200%; letter-spacing: 2px; font-family: $subtitulos; text-align: center;}
    &__texto2 {color: $azulclaro; font-size: 140%; font-family: $subtitulos; padding-top: 10px;}
    &__texto3 {color: $azulclaro; font-size: 140%; font-family: $subtitulos; text-align: center;}
    &__imagen {width: 75%; margin-left: 25px;}
}
    /*Portfolio Mobile*/
img.logoPort{width: 20%; height: 20%; padding-top: 5px;}
.submenu {
    background-image: linear-gradient(to bottom, $gris, $azulclaro);
    &__titulo {color: $naranja; font-family: $subtitulos; font-size: 40px;}
    &__texto {font-family: $texto-comun; color:$azulmedio!important; font-weight: 600;}
}
div.divCharco {margin-left: 15px; width: 88%;}
.imgcharco {margin-left: 25px; width: 85%;}
    /*Diseño Mobile*/
.navDi{width: 290px; margin-right: 0; margin-left: 15px;}
.sectorServicios{width: 300px;}
/*.tituloDisenio{color: $amarillo; font-family: $titulos!important; justify-content: left; font-size: 55px; letter-spacing: 3px; margin: 5px;}*/
.contenedorGeneral{display: flex; flex-direction: column;}
.contenedorServicio{justify-content: center; width: 300px; margin-left: 10px; margin-top: 10px; border: solid 2px $azulclaro; background-image: linear-gradient(to top, $azulmedio, $gris);}
.capa p{text-align: center; font-size: 18px; font-weight: 400;}
.capa h3{text-align: center;}
.disenio{width: 270px; justify-content: center; padding-left: 15px; padding-top: 7px;}
    /*Sobre Mi Mobile*/
img.logoSobre {width: 90%;transform: translate(60px, 60px);}
div.sectorInfo {margin-left: 5%;}
.info {
    background-color: #ebebe0; padding-left: 4%; padding-bottom: 2%; padding-right: 3%;
        &__titulo {
                    padding-bottom: 3px;
                    border-bottom: 3px solid $gris;
        }
        &__texto {
                    color: $azulmedio;
                    font-family: $texto-comun;
                    font-weight: 400;
        }
    }
    /*Contacto Mobile*/
.hola {
    padding-top: 10px; padding-bottom: 10px;
    &__encabezado {
                    letter-spacing: 5px;
         }
    &__texto {
            background-color: $gris;
            font-size: 120%;
        }
    }
.campoForm{text-align: center; margin: auto; font-size: 130%; color: $naranja; font-weight: 300;}
h4{color: $amarillo; font-family: $subtitulos; font-size: $h4; text-align: center; padding-left: 10px; padding-top: 5px;}
div.formulario{display: flex; justify-content: center; padding-left: 15px; background-color: $gris; width: 90%; margin: 7px; margin-left: 20px; border-radius: 5px; box-shadow: 2px 5px 12px $azulnegro;}
form{width: 215px;}
.colorBoton {background-image: linear-gradient(to right, $naranja, $azulclaro)};
}/*Cierre Vista Mobile*/

 /*Vista Desktop------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px){
    /*General*/
h1.tituloPags{color: $amarillo; font-family: $titulos!important; font-size: 80px;; letter-spacing: 1rem; padding-top: 2%;}
h2{color: $naranja; font-family: $subtitulos;font-size: $h2;}
img.logoInicio{width: $widthLogo; padding-right: 10px;}
    /*Index Desktop*/
.imagen-derecha{animation-name: imagen-derecha; animation-iteration-count: infinite; animation-duration: 4s;}
.imagen-izquierda{animation-name: imagen-izquierda; animation-iteration-count: infinite; animation-duration: 4s;}
.bienvenida {
    margin-top: 4%;
    &__titulo {color: $azulclaro; font-weight: 1000; font-size: 300%; letter-spacing: 2px; font-family: $subtitulos;}
    &__texto2 {color: $azulclaro; font-size: 210%; font-family: $subtitulos; padding-top: 10px;}
    &__texto3 {color: $azulclaro; font-size: 210%; font-family: $subtitulos; text-align: right;}
    &__imagen {width: 90%;}
}
    /*Portfolio Desktop*/
.logoPort{width: $widthLogoGrande; padding: 2px; padding-bottom: 10px;}
.submenu {
    background-image: linear-gradient(to bottom, $gris, $azulclaro);
    &__titulo {color: $naranja; font-family: $subtitulos;font-size: 4vw;}
    &__texto {font-family: $texto-comun; color:$azulmedio!important; font-weight: 600;}
}
    .charco {
        font-family: $texto-comun; color: $azulmedio;
    }
    .charco--georgie {
        @extend .charco;
        background-color: $gris;
        border: 2px solid $azulclaro;
        font-weight: 400;
    }
    .charco--willy {
        @extend .charco;
        background-color: $gris;
        border: 2px solid $azulmedio;
        font-weight: 400;
    }
    /*Diseño Desktop*/
.contenedorGeneral {display: flex; flex-flow: row wrap; margin-left: 50px;}
.contenedorServicio{width: 400px; height: 4o0px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
.contenedorServicio figure{position: relative; width: 400px; height: 400px; overflow: hidden; border-radius: 6px; box-shadow: 0px 15px 25px darkslategrey;}
.contenedorServicio figure img{width: 400px; height: 400px; transition: all 500ms ease-out;}
.contenedorServicio figure .capa{position: absolute; top:0;width: 100%;height:100%;background: rgba(11,103,123,0.6);transition: all 500ms ease-out;opacity: 0;visibility: hidden;text-align: center;}
.contenedorServicio figure:hover > .capa {opacity: 1;visibility: visible;}
.contenedorServicio figure:hover > .capa h3 {margin-top: 70px;margin-bottom: 15px;}
.contenedorServicio figure:hover .capa h3{opacity: 1; visibility: visible; margin-top: 50px; margin-bottom: 10px;}
.contenedorServicio figure:hover .capa p{opacity: 1; visibility: visible; margin-top: 50px; margin-bottom: 10px;}
.contenedorServicio figure .capa:hover{position: absolute; height: 100%; width: 100%; background-color: rgba(120, 103, 123, 0.6); transition: all 500ms ease-out; opacity: 0; visibility: hidden; text-align: center;}
.contenedorServicio figure:hover .capa{top: 0; opacity: 1; visibility: visible;}
.contenedorServicio figure .capa h3{visibility: hidden; color: $amarillo; font-size: 40px; font-weight: 400; transition: all 500ms ease-out;}
.contenedorServicio figure .capa p{visibility: hidden; color:$naranja; font-size: 25px;}
.contenedorServicio figure .capa p:hover{visibility: visible; color: $amarillo; font-weight: 30px;} 
.figura:hover{background-color: rgba(45, 44, 46, 0.4);}        
    /*Sobre mí*/
img.logoSobre {width: 90%; transform: translate(60px, 60px);}
div.sectorInfo {margin-left: 5%; margin-top: 5px;}
.info {
    background-color: #ebebe0; padding-left: 4%; padding-bottom: 2%; padding-right: 3%; padding-top: 2px;
        &__titulo {
                    padding-bottom: 10px;
                    border-bottom: 3px solid $gris;
        }
        &__texto {
                    color: $azulmedio;
                    font-family: $texto-comun;
                    font-weight: 400;
        }
    }
    /*Contacto Desktop*/
.headerContacto {background-image: url(../assets/img/header.png); width: 100%}
.tituloContacto {color: $amarillo; font-family: $titulos!important; font-size: 80px; letter-spacing: 1rem; padding-top: 2%;}
.hola {
   padding-top: 30px; padding-bottom: 10px; 
    &__encabezado {
                    letter-spacing: 2px;
                    font-family: $texto-comun;
                    font-weight: 300;
                    font-size: 40px;
                    text-align: left;
    }
    &__texto {
                text-align: justify;
                font-size: 120%;
    }
}
.logoContacto{width: 40%; padding: left 30px;}
.containerContacto{margin: 10px 40px;}
.campoForm{font-size: 130%; color: $naranja; font-weight: 500;}
.formulario{display: flex; justify-content: center; padding-top: 15px; padding-bottom: 25px;  background-color: $gris; width: 450px; border-radius: 15px; box-shadow: 7px 13px 37px $azulmedio;}
.colorBoton {background-image: linear-gradient(to right, $naranja, $azulclaro)};
}/*-----------Cierre Vista Desktop-----------------------------------------------------------*/

/*Portfolio*/
.contenedorAlbum{background-image: linear-gradient(to bottom, $azulclaro, $gris);}
/*Diseño*/
.sectorServicios {margin: 0!important; padding: 0!important; background-image: linear-gradient(to bottom,#ffd89b, #19547b);}
.servicios {
    background-image: linear-gradient(to bottom, $gris, $azulclaro);
        &__titulo {transform: translateY(-10px);}
        &__texto {font-family: $texto-comun; color: $azulmedio;}
}
.tarjetas {
    border: 2px solid;
    &__titulo {color: $naranja; font-weight: 600;}
    &__texto {font-weight: 400; font-family: $texto-comun;}
}
.fondoTarjetas {background-image: linear-gradient(to bottom, $gris, $azulclaro);}
/*Sobre Mi*/

/*Contacto*/